* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* utilities */

.blue-button {
    padding: 5px;
    background-color: rgb(0, 97, 255);
    color: white;
    border-radius: 0px;
    border: 0px;
}

.white-button {
    padding: 5px;
    background-color: white;
    border-radius: 0px;
    border: 1px solid black;
}

.row {
    width: 100%;
}

.col-20 {
    width: 20%;
}

.col-33 {
    width: calc(100% / 3 - 10px);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

/* header */

header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
}

header .row {
    display: flex;
    height: 100%;
}

header .content {
    height: 100%;
    display: flex;
    align-items: center;
}

header .content ul {
    display: flex;
    list-style: none;
}

header a {
    text-decoration: none;
    color: grey;
    margin: 0 15px;
    font-size: 13px;
}

header .content img {
    margin: 0 10px;
}

header .right {
    justify-content: flex-end;
}

header .blue-button {
    margin: 0 10px;
}

/* main */

main {
    margin-top: 80px;
}

.titolo-sezione {
    height: 100px; /* da togliere */
    background-color: red; /* da togliere */
    border: 1px solid black; /* da togliere */
    margin: 10px 0;
    font-size: 20px;
    font-weight: 400;
}

/* jumbotron */

.jumbotron {
    background-color: rgb(180, 208, 231);
    width: 100%;
    margin-bottom: 150px;
}

.jumbotron .row {
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.jumbotron .titolo {
    margin: 80px 0 50px;
    text-align: left;
    font-size: 30px;
}

.jumbotron button {
    margin: 25px 0;
    padding: 13px;
}

.jumbotron i {
    font-size: 50px;
    margin: 50px 0 10px;
}

.jumbotron .col-60 {
    position: relative;
}

.jumbotron img {
    width: 110%;
    position: absolute;
}

/* sezione 1, piani abbonamento */

.container-1 {
    width: 60%;
    margin: 50px auto 0;
}

.tipo-dilazionamento {
    margin: 10px 0;
}

.container-1 .etichetta-abbonamento {
    display: block;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid black;
}

.container-1 .content {
    margin: 25px 20px;
}

.container-1 .content div {
    margin: 10px 0;
}

.container-1 .content h4 {
    font-size: 20px;
}

.container-1 .cadenza {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
}

.container-1 i {
    margin-right: 3px;
}

.container-1 .content ul {
    margin: 30px 0px 30px 25px;
}

.container-1 .content li {
    margin: 15px 0;
}

.container-1 .blue-button {
    width: 100%;
    padding: 10px 0;
}

.container-1 .content p {
    margin: 30px 0;
}

.container-1 .content hr {
    width: 30%;
}

.container-1 .content h5 {
    margin: 30px 0;
}

.container-1 .col-33 {
    margin: 0 5px;
    border: 1px solid black;
}

.container-1 .tipi-abbonamento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 35px 0;
}

.container-1 .enterprise {
    border: 1px solid black;
    border-top: none;
    display: flex;
}

.container-1 .col-100.team-label {
    border: 1px solid black;
    border-bottom: none;
}

.container-1 .enterprise h4 {
    margin-bottom: 15px;
}

.container-1 .enterprise button {
    margin-top: 25px;
    margin-right: 20px;
}

/* sezione 2, partner Dropbox */

.container-2 {
    width: 60%;
    margin: 100px auto 0;
}

.container-2 .col-60 {
    height: 100%;
}

.container-2 .col-60 img {
    width: 100%;
}

.container-2 .row {
    display: flex;
}

.container-2 .content {
    margin-top: 40px;
    margin-left: 30px;
}

.container-2 .content h4 {
    font-size: 22px;
}

.container-2 .content p {
    margin: 15px 0;
}

/* sezione 3, operazioni Dropbox Business */

.container-3 {
    width: 60%;
    margin: 100px auto;
}

.container-3 .col-33 {
    margin: 10px 5px;
}

.container-3 .operazioni-business {
    display: flex;
    flex-wrap: wrap;
}

.container-3 .content img {
    width: 100%;
    margin: 5px 10px;
}

.container-3 .content {
    margin: 5px 10px;
}

/* sezione 4, clienti dropbox */

.container-4 {
    margin: 50px auto 0;
}

.container-4 .row {
    width: 60%;
    margin: 50px auto;
}

.container-4 .titolo-sezione {
    margin-bottom: 50px;
}

.container-4 .box-clienti {
    display: flex;
    width: 100%;
    margin-bottom: 0px;
}

.container-4 .col-33 {
    width: calc(100% / 3);
    height: calc(100vw /3);
}

.container-4 .clienti-sinistra {
    display: flex;
    flex-wrap: wrap;
}

.box-clienti .col-50 {
    position: relative;
    width: 50%;
    height: 50%;
}

.container-4 .box-clienti .col-50 img {
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

#designit {
    background-color: rgb(162, 211, 155);
    border: 10px solid rgb(209, 233, 205);
}

#asu {
    background-color: rgb(97, 8, 43);
}

#uf {
    background-color: rgb(0, 147, 206);
}

#topps {
    background-color: rgb(255, 28, 28);
}

#relief {
    background-color: rgb(213, 0, 31);
}

#hearst {
    background-color: rgb(180, 208, 231);
}

#lonely-planet {
    background-color: rgb(13, 36, 129);
}

#clear-channel {
    background-color: rgb(255, 216, 48);
}

.container-4 .center {
    background-color: rgb(245, 245, 245);
}

.container-4 .center .content {
    margin: 30px 20px;
}

.container-4 .center img {
    width: 50%;
}

.container-4 .center .content * {
    margin: 20px 0;
}

.container-4 .center .content hr {
    width: 20%;
}

.container-4 .center .content p, .container-4 .center .content span {
    font-size: 13px;
    font-weight: lighter;
}

.container-4 .clienti-destra {
    display: flex;
    flex-wrap: wrap;
}

.row.prova-gratuita {
    margin-top: 0px;
}

.container-4 .prova-gratuita {
    width: 100%;
    background-color: rgb(180, 208, 231);
}

.container-4 .prova-gratuita .col-100 {
    width: 60%;
    margin: 0 auto;
}

.container-4 .prova-gratuita .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-4 .prova-gratuita .content * {
    margin: 50px 0;
}

.container-4 .prova-gratuita .content h4 {
    font-size: 25px;
    color: rgb(97, 8, 43);
}

.container-4 .prova-gratuita .content button {
    border: none;
    padding: 5px 25px;
}

/* sezione 5, domande frequenti */

.container-5 {
    width: 60%;
    margin: 50px auto;
}

.container-5 .domande-frequenti {
    display: flex;
    flex-direction: column;
}

.container-5 .col-100 {
    height: 100px; /* da togliere */
    background-color: red; /* da togliere */
    border: 1px solid black; /* da togliere */
}

/* footer */

footer {
    background-color: black;
}

.container-footer {
    width: 70%;
    margin: 0 auto;
}

.container-footer .col-20 {
    height: 300px; /* da togliere */
    background-color: red; /* da togliere */
    border: 1px solid black; /* da togliere */
}

.footer-links {
    display: flex;
    padding: 50px 0;
}

.language-selection .col-20 {
    height: 50px; /* da togliere */
    background-color: red; /* da togliere */
    border: 1px solid black; /* da togliere */
}
